{% extends 'layout.html' %}

{% block title %}
    Weather App
{% endblock %}


{% block content %}

    <div class = "tab-pages active-page" id = "home">
        {# Home page #} 
        <div class = "home-container">
        {# Left side of the home page that shows all the form inputs #} 
            <div class = "form-col">
                <form class = "form-css" action = "/" method = "post">
                    <label for = "getWeather" class = "label-css">Enter a City:</label>
                    <input autocomplete = "off" id = "city" name = "city" placeholder = "Enter a City" type = "text" class = "input-css">
                    <br></br>
                    <br></br>
                    <label for = "getWeather" class = "label-css" style = "margin-left:140px;">Or</label>
                    <br></br>
                    <br></br>
                    <label for = "getWeather" class = "label-css">Enter a Zip:</label>
                    <input autocomplete = "off" id = "zip" name = "zip" placeholder = "Enter a Zip" type = "text" class = "input-css">
                    <button type = "submit" class = "btn">Search</button>
                </form>
            </div>
        {# Right side of the home page that shows all the data #}  
            <div class = "data-col">
                <h1 class = "status">{{ infos.status }}</h1>
                <div class = "informations-container">
                    <div class = "information">
                        <h2>Weather:</h2>
                        <p>{{ infos.weather }}</p>
                    </div>
                    <div class = "information">
                        <h2>Temperature:</h2>
                        <p>{{ infos.temperature }}</p>
                    </div>
                    <div class = "information">
                        <h2>Humidity:</h2>
                        <p>{{ infos.humidity }}</p>
                    </div>
                    <div class = "information">
                        <div class = "slides">
                            <h2>Min Temperature:</h2>
                            <p>{{ infos.min_temp }}</p>
                        </div>
                        <div class = "slides">
                            <h2>Max Temperature:</h2>
                            <p>{{ infos.max_temp }}</p>
                        </div>
                        <a class = "prev" onclick="traverse(-1)">&#10094;</a>
                        <a class = "next" onclick="traverse(1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{# Logs page #}
    <div class = "tab-pages" id = "logs">
        {# Button to clear logs #}
        <div class = "clear-logs">
            <form action = "/clear_logs" method = "post">
                <button type = "submit"> Clear Logs </button>
            </form>
        </div>
        {# table showcasing the logs#}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.date }}</td>
                        <td>{{ log.status }}</td>
                        <td>{{ log.time }} Local Time</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}